
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="refresh" content="360"> 
<meta http-equiv="Content-Language" content="id">
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="4dlivesgp memberikan informasi mengenai hasil live result dari keluaran permainan angka togel yang cepat dan akurat serta mejadi yang paling mudah untuk di akses oleh semua penggemar togel">
<meta name="keywords" content="livedraw SGP4D Singapore4D, live result SGP4D Singapore4D, togel SGP4D Singapore4D, result SGP4D Singapore4Dpools, bandar togel SGP4D Singapore4D, result SGP4D Singapore4D paling cepat, 4dlivesgp, 4d live sgp, data SGP4D Singapore4D">
<meta name="robots" content="index,follow">
<title>Sgp4D: Livedraw Singapore Live Result Togel Singapore4D Tercepat | 4DLiveSGP</title>
<style>
.borderbody .hkdraw {
background : url(https://4dlivesgp.com/img/bgsgp4d.png);
width : 305px;
height : 435px;
border-radius:8px;
font : normal 12px Arial, Arial, Helvetica, sans-serif;
color : #FFF;
background-color : #FFF;
-moz-box-shadow: 0 0 2px 2px #85C1E9;
-webkit-box-shadow: 0 0 2px 2px #85C1E9;
box-shadow: 0 0 2px 2px #85C1E9;
}

.borderbody .hkdraw .head {
text-align : center;
width : 100%;
height : 45px;
color : #FF0000;
}

.title {
text-align : center;
color : gold;
text-decoration : none;
font-weight : bold;
}

.borderbody .hkdraw .head2 {
text-align : center;
width : 100%;
font-size : 12px;
color : #fff;
}

.head3 {
width : 100%;
height : 30px;
color : #fff;
}

.borderbody .hkdraw .prize123 {
text-align : center;
width : 100%;
font-size : 12px;
color : #fff;
text-decoration: none;
font : normal 15px Arial, Arial, Helvetica, sans-serif;
border-collapse: separate;
border-spacing: 0px 0px;
font-weight : bold;
padding-top: 1px;
}

.prize1 {
width : 50%;
height : 29px;
text-align : center;
text-decoration : none;
font-weight: bold;
font-size : 24px;
padding-bottom : 5px;
}

.prize1 .result {
text-decoration : none;
font-weight: bold;
color: gold;
}

.prize2 {
text-align : center;
text-decoration : none;
font-size : 20px;
font-weight: bold;
height: 20px;
width : 50%;
padding-bottom : 5px;
}
.prize3 {
text-align : center;
text-decoration : none;
font-size : 20px;
font-weight: bold;
height: 20px;
width : 50%;
padding-bottom : 6px;
}

.starter {
text-align : center;
text-decoration : none;
font-size : 18px;
height: 20px;
color: #000;
font-weight: bold;
width : 100%;

}
.starterprize {
text-align : center;
text-decoration : none;
font : 700 15px Helvetica;
width : 100%;

border-spacing: 0px 0px;
}

.consolation {
text-align : center;
text-decoration : none;
font-size : 18px;
color: #000;
height: 33px;
font-weight: bold;
width : 100%;
border-spacing: 0px 1px;
padding-top: 0px;
}

.consolationprize {
text-align : center;
text-decoration : none;
font : 700 15px Helvetica;
width : 100%;
border-spacing: 0px 1px;
}

.footer {
 float: right;
 color: #000;
 font : 700 15px Helvetica;
 padding : 2px 15px;
}
.footerlink {
 color: #000;
 text-decoration : none;
 font : 700 15px Helvetica;
}

.kelap_kelip{
 animation:blinker 1.5s linear infinite
}
@keyframes blinker{50%{opacity:0}
</style>
</head>
 <center>
<body>
<div class="borderbody">
<div class="hkdraw">
<table class="head" border="0">
<tbody>
<tr>
<td colspan="5"></td>
</tr>
</tbody>
</table>
<table class="head2" border="0">
<tbody>
<tr>
<td width="30%"><b>08-09-2019</b></td>
<td width="40%"><a class="title" target="_blank" href="https://4dlivesgp.com" style="color:orangered; font-size: 12px; text-decoration: none;">Area Dewasa 18+</a></td>
<td width="30%">Today!</td>
</tr>
<tr>
</tbody>
</table>
<table class="head3" border="0">
<tbody>
<tr>
<td></td>
</tr>
</tbody>
</table>
<table class="prize123" border="0">
<tbody>
<tr height="37px">
<td style="padding-bottom:8px;">PRIZE 1</td>
<td class="prize1">
<a class="title" target="_blank" href="https://4dlivesgp.com">7708</a>
</td>
</tr>
<tr height="37px">
<td style="padding-bottom:7px;">PRIZE 2</td>
<td class="prize2">0961</td>
</tr>
<tr height="37px">
<td style="padding-bottom:8px;">PRIZE 3</td>
<td class="prize3">7442</td>
</tr>
</tbody>
</table>
<table class="starter" border='0'>
<tbody>
<tr>
<td colspan="5">STARTER PRIZE</td>
</tr>
</tbody>
</table>
<table class="starterprize" border="0">
<tbody>
<tr height="31px">
<td width="20%">7273</td>
<td width="20%">2374</td>
<td width="20%">5580</td>
<td width="20%">7843</td>
<td width="20%">6781</td>
</tr>
<tr height="41px">
<td width="20%">1955</td>
<td width="20%">0821</td>
<td width="20%">8444</td>
<td width="20%">9057</td>
<td width="20%">3456</td>
</tr>
</tbody>
</table>
<table class="consolation" border="0">
<tbody>
<td>CONSOLATION PRIZE</td>
</tbody>
</table>
<table class="consolationprize" border="0">
<tbody>
<tr height="29px">
<td width="20%">7510</td>
<td width="20%">0386</td>
<td width="20%">5487</td>
<td width="20%">7367</td>
<td width="20%">4916</td>
</tr>
<tr height="41px">
<td width="20%">7254</td>
<td width="20%">2833</td>
<td width="20%">2325</td>
<td width="20%">8646</td>
<td width="20%">7710</td>
</tr>
<tr>
</tbody>
</table>
<div class="footer">
&copy; <a class="footerlink" href="https://4dlivesgp.com" target="_blank">Wow Group</a>
</div>
</div>
</div>

</body>
</center>
</html>

